*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* USER DEFINE CLASSES */

.gradient-text:hover{
    background-image: linear-gradient(160deg,  #a6611c 50%, white 5%);
    background-clip: text;
    color: transparent;
}

.brown{
    color: #a6611c;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #a6611c;
}

.stroke{
    -webkit-text-stroke: 1px grey;
    color: transparent;
    font-size: 160px;
}

.stroke-2{
    -webkit-text-stroke: 1px grey;
    color: transparent;
    font-size: 70px;
}

/* USER DEFINE CLASSES */

.navbar{
    width: 4%;
    margin-top: 10%;
}

.main-logo{
    width: 10%;
}

.herosection a{
    background-color: #a6611c;
}

.herosection a:hover{
    background-color: #844e18;
    transition: 0.2s;
    
}

/* S P E C I F I C A T I O N - S E C T I O N */

.spec-img img{
    height: 650px;
    object-fit: cover;
}

/* A B O U T - U S - S E C T I O N */

.aboutUs a{
    background-color: #a6611c;
    color: white;
}

.aboutUs a:hover{
    background-color: #844e18;
    transition: 0.2s;
}